<div class="row" [ngClass]="tour.places - tour.reservePlaces > 5 ? 'bg-white' : 'bg-warning'">
  <div class="col-sm">
    <p>Name: <b> {{tour.name.toUpperCase()}}</b></p>
    <p>Country: <b>   {{tour.country.toUpperCase()}}</b></p>
    <p>Category:<b>  {{tour.category.toUpperCase()}}</b></p>
    <p>Start date: <b> {{tour.startDate | date:'mediumDate'}}</b></p>
    <p>End date: <b> {{tour.endDate  | date:'mediumDate'}}</b></p>
    <p>Price:<b>  {{tour.price}} &#8364;</b></p>
    <p>Opinion: <b>  {{tour.opinion !== 0 ? tour.opinion.toFixed(1) : 'None opinion'}}</b></p>
  </div>
  <div class="col-sm">
    {{tour.description}}
  </div>
  <div class="col-sm mh-25 mw-25 m-1">
    <img [routerLink]="['/tour-detail', tour._id]" src="{{tour.pictureLink}}" class="rounded-circle mt-1" alt="Cinque Terre">
  </div>
  <div class="col-sm">
    <p *ngIf="tour.places - tour.reservePlaces > 0"> Available places : <b>{{tour.places - tour.reservePlaces}}</b></p>
    <p> Reserved places : <b>{{tour.reservePlaces}}</b></p>
    <p *ngIf="myReservedPlace!=undefined"> Reserved places by me : <b>{{myReservedPlace}}</b></p>
    <p class="text-danger" *ngIf="tour.places - tour.reservePlaces <= 0"> No spots left</p>
    <button *ngIf="isAdminView==true" type="button" class="btn btn-danger m-1" (click)="deleteTour()">
      Delete
    </button>
    <button *ngIf="cartElement!==undefined" type="button" class="btn btn-danger m-1" (click)="removeReservation()">
      Remove reservation
    </button>
    <button *ngIf="isAdminView==true" type="button" class="btn btn-dark m-1"
            [routerLink]="['/new-tour', tour._id]">
      <span class="d-none d-md-inline">Edit</span>
    </button>
    <button type="submit"
            [routerLink]="['/tour-detail', tour._id]"
            class="btn btn-info">
      <span class="d-none d-md-inline">Detail</span>
    </button>
  </div>
</div>
