
<div class="row justify-content-center">


  <div class="containe justify-content-center ">
    <span [ngClass]="allReservedPlaces > 10 ? 'bg-success' : 'bg-danger'">All reserved places: {{allReservedPlaces}}</span>

  </div>
  <div class="container ">
    <app-filter *ngIf="isAdminView!=true" [tours]="tours" (categoryEvent)="filter($event)"></app-filter>

  </div>

  <div class="container border m-1"
       [ngClass]=" tour.price == maxPrice ? 'border-success' : tour.price == minPrice ? 'border-danger' : 'border-dark'"
       *ngFor="let tour of tours">
    <app-tour (deleted)="deleteTour(tour)" (reserve)="countReservedPlaces()" [tour]="tour" [isAdminView]="isAdminView"></app-tour>
  </div>
</div>
