<div class="container justify-content-center">
  <h2>Tour detail information</h2>
  <div class="m-2 row" >
    <form *ngIf="tour?.places - tour?.reservePlaces > 0 && !isReserved">
      <h3>Reserve places</h3>
      <div class=" col form-group">
        <label class="form-control-label" >Number of places</label>
        <select class="form-control" [(ngModel)]="reservedPlaces" name="inpuList">
          <option [ngValue]="number" *ngFor="let number of numbersArray(tour?.places - tour?.reservePlaces)"> {{number}} places</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" (click)="reservePlace()">Submit</button>
    </form>
    <div *ngIf="isReserved">
      Reserved places : {{reservedPlaces}}
      <button type="button" class="btn btn-danger" (click)="resignationPlace()">
        Resigne
      </button>
    </div>

  </div>
  <div>
    <div class="col-8">
      <hr class="mt-2 mb-2">
      <p>Name: <b> {{tour?.name.toUpperCase()}} </b></p>
      <hr class="mt-2 mb-2">
      <p>Country: <b>{{tour?.country.toUpperCase()}} </b></p>
      <hr class="mt-2 mb-2">
      <p>Category: <b>{{tour?.category.toUpperCase()}} </b></p>
      <hr class="mt-2 mb-2">
      <p>Start date: <b> {{tour?.startDate | date:'mediumDate'}} </b></p>
      <hr class="mt-2 mb-2">
      <p>End date: <b> {{tour?.endDate  | date:'mediumDate'}} </b></p>
      <hr class="mt-2 mb-2">
      <p>Price: <b> {{tour?.price}} &#8364; </b></p>
      <hr class="mt-2 mb-2">
      <p>Opinion: <b> {{tour?.opinion !== 0 ? tour?.opinion +' with 5' : 'None opinion'}}  </b> </p>
    </div>

  </div>
  <br>


  <div class="col-8">
    <div class="container">

      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Tour Gallery</h1>

      <hr class="mt-2 mb-5">

      <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6" *ngFor="let link of tour?.gallery">
          <a class="d-block mb-6 h-300">
            <img class="img-fluid img-thumbnail" src="{{link}}" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="form-group col-8" *ngIf="!checkIfVoted() && checkIfHaveRights()">
    <label class="form-control-label" >Opinion</label>
    <select class="form-control" [(ngModel)]="opinion">
      <option [ngValue]="1"> Opinion 1</option>
      <option [ngValue]="2"> Opinion 2</option>
      <option [ngValue]="3"> Opinion 3</option>
      <option [ngValue]="4"> Opinion 4</option>
      <option [ngValue]="5"> Opinion 5</option>
    </select>
    <br>
    <button type="button" class="btn btn-info pull-right" (click)="addOpinion()">Add opinion</button>

  </div>

  <div class="col-8" *ngIf="checkIfVoted()">
    <hr class="mt-2 mb-2">
    My opinion : <b>{{myVote}}</b>
    <br>
    <br>
  </div>



  <div class="col-8" *ngIf="!checkIfWroteComments() && checkIfHaveRights()">
    <textarea [(ngModel)]="comment" class="form-control" placeholder="write a comment..." rows="3"></textarea>
    <br>
    <button type="button" class="btn btn-info pull-right" (click)="addComment()">Post</button>
  </div>


  <h2>Comments</h2>
  <div class="col-8" *ngIf="checkIfWroteComments()">
    My comments : <b>{{myComment}}</b>
    <hr class="mt-2 mb-2">
  </div>

  <div class="col-8">
    <span *ngFor="let comment of tour.comments">
      <b>{{comment.text}}</b>
      <hr class="mt-2 mb-2">
    </span>
  </div>


</div>


